
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/Layout_2.cshtml";
}
<div class="container" style="background-color:rgb(0, 0, 0, 0.8); margin-top:30px ; border-radius:20px">
    <div class="lead text-center" style="margin-bottom: 16px;">

        <h2>Помощь</h2>

       <h4> С помощью этого сайта вы можете создать свой собственный диетический дневник, в котором можно отражать все свои успехи в борьбе с лишним весом. Кроме того, можно использовать специальные инструменты для учета потребляемых калорий, следить за прогрессом снижения веса с помощью наглядных графиков и, конечно же, общаться с единомышленниками, которые тоже сейчас на диете.
   </h4>
           </div>
</div>