
@{
    ViewBag.Title = "Daybook";
}

<div class="container" style="background-color:rgb(0, 0, 0, 0.8); margin-top:30px ; border-radius:20px">
    <div class="lead text-center" style="margin-bottom: 16px;">
        <h2>Диетический дневник</h2>
        <h4>
        Диетический дневник - один из способов контроля за своим питанием, который выражается в фиксировании всей потребляемой пищи в специальном дневнике.
        Дневник – это та «информационная база», на основе которой вы можете составить индивидуальную диету. Не самостоятельно, конечно, а с помощью нашего сайта.
           </h4>
</div>
</div>