
@{
    ViewBag.Title = "ArcticleNumTwo";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    <script language="JavaScript" type="text/javascript" src="~/Scripts/modernizr-2.8.3.js"></script>
    <title>6 завтраков для чемпионов</title>
    <style>
        .col-xs-6 {
            text-align: center;
            font-size: 40px;
            font-weight: 300;
            color: #fff;
            -moz-background-clip: border;
            -webkit-background-clip: border;
            background-clip: border-box;
            -moz-background-clip: padding;
            -webkit-background-clip: padding;
            background-clip: padding-box;
            -moz-background-clip: content;
            -webkit-background-clip: content;
            background-clip: content-box;
        }

            .col-xs-6:nth-child(1) {
                background-color: transparent;
                border-radius: 50px;
            }

            .col-xs-6:nth-child(2) {
                background-color: transparent;
                border-radius: 50px;
            }
    </style>
</head>

<body>

    <div class="container" style="background-color:rgb(0, 0, 0, 0.9); border-radius:20px">
        <h1 class="h3 text-center" style="margin-top: 30px; margin-bottom: 30px;"><i><b>Гид по здоровому питанию для новичков</b></i></h1>
    </div>
    <div class="container" style="background-color:rgb(0, 0, 0, 0.5); margin-top:40px ; border-radius:20px">

        <div class="lead text-center" style="margin-bottom: 16px;">
            <h3>
                <p>
                    Тысячи людей каждый день решают перейти на правильное питание,
                    но не представляют себе, что это такое на самом деле. Лайфхакер
                    разбирает основы здорового питания для тех, кто решил взяться за
                    себя и сменить свои пищевые привычки на более полезные.
                </p>
                <p>
                    Вы уже знаете, что такое настоящая здоровая еда.
                    Это то, что росло на дереве или в земле, плавало в
                    море или реке, бегало по травке. Мясо, рыба, овощи,
                    фрукты, орехи, злаки, яйца — всё это примеры настоящей еды.
                </p>
                <p>
                    И вы также знаете, что такое плохая еда. Это то, что
                    выдают вам из окошка в автомобиль, что выпадает из торгового
                    автомата, доставляется к вам в готовом виде в коробке или пакете.
                    Если состав еды по длине сравним с «Игрой престолов», а прежде чем
                    попасть на стол, продукт проходит через 14 стадий приготовления, наверняка
                    это гадость, которую не стоит употреблять в пищу.
                </p>
            </h3>
            <h1>Не отказывайтесь от всего сразу</h1>

            <h3>
                <p>
                    Мало кто может сразу отказаться от любимых блюд и полностью перейти на здоровое питание.
                    Сделав это, человек станет раздражительным и угрюмым, будет сильно страдать и быстро
                    откажется от идеи питаться правильно.
                </p>
                <p>
                    Может быть, вы из числа людей, для которых ничего не стоит отказаться от
                    любого лакомства, однако, если это не так, прежде чем начинать диету,
                    определите для себя правильное соотношение скорости получения результатов
                    и уровня страданий в процессе.
                </p>
                <p>
                    Как в компьютерной игре: сначала вам нужно выбрать уровень сложности.
                    Если выбираете «Сложный», вам придётся нелегко, но зато вы гораздо
                    быстрее прокачаете скилл и добьётесь результатов.
                </p>
                <p>
                    Возможно, вы предпочитаете «Лёгкий», потому что не хотите так
                    нервничать во время прохождения и собираетесь получить удовольствие от игры.
                </p>
                <p>
                    Главное — не переоценивайте себя. Даже очень медленные шаги к
                    успеху на 100% лучше, чем быстрое поражение.
                </p>
            </h3>
            <h1> Поставьте цель</h1>
            <h3>
                <p>
                    Если вы хотите питаться правильно, не имея чёткого представления,
                    для чего это нужно, то каждый день без любимой еды будет настоящей пыткой.
                </p>
                <p>
                    Определите для себя цель и держите её в голове. Вы удерживаете себя
                    от вредной еды не потому, что любите страдать, а чтобы жить лучше,
                    качественнее и, может быть, подавать хороший пример своим детям.
                </p>
                <p>
                    Помните, что у вас всегда есть выбор. Компании, поставляющие вредную еду,
                    стараются сделать её максимально привлекательной. Хватит отдавать им свои деньги,
                    покупая то, что вас медленно убивает.
                </p>
                <p>
                    Не ищите мгновенного удовлетворения от куска пиццы,
                    пачки чипсов или шоколадного пончика. Вместо этого,
                    стремитесь к долгой жизни, полной радости и здоровья.
                </p>
            </h3>

           <h1> Считайте калории</h1>
           <h3>
               <p>
                   Для начала запомните простое уравнение: Один килограмм жира в теле человека соответствует 7 716 килокалориям.
               </p>
               <p>
                   Это значит, что если вы собираетесь сбрасывать килограмм жира в неделю,
                   то вам нужно создать дефицит в 1 102 ккал в день (7 716 ккал разделить на 7 дней,
                   получается 1 102 ккал).
               </p>
               <p>
                   Чтобы создать этот дефицит,
                   сначала нужно узнать калорийность своего рациона.
                   Отслеживайте калорийность любой еды, которую потребляете,
                   включая случайные перекусы. Когда вы узнаете, сколько калорий
                   потребляете в день, определите свою цель в соответствии с формулой.
               </p>
               <p>
                   Например, если вы хотите похудеть на 5 кг до отпуска, например
                   за два месяца, то 7 716 ккал нужно умножить на 5 кг и разделить
                   на 60 дней. Получится 643 ккал — именно столько вам нужно недоедать каждый день.
               </p>
               <p>
                   Но даже если вы хотите похудеть очень быстро, не стоит снижать
                   калорийность рациона резко: вы будете постоянно испытывать чувство
                   голода. Лучше постепенно снижать дневную норму на несколько сотен килокалорий каждую неделю.
               </p>
               <p>
                   Однако для здоровья важно не только отслеживать калорийность, но и
                   учитывать качество пищи.
               </p>               
           </h3>



        </div>
    </div>

    

    
</body>

</html>


