
@{
    ViewBag.Title = "ArticlesNumOne";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    <script language="JavaScript" type="text/javascript" src="~/Scripts/modernizr-2.8.3.js"></script>
    <title>6 завтраков для чемпионов</title>
    <style>
        .col-xs-6 {
            text-align: center;
            font-size: 40px;
            font-weight: 300;
            color: #fff;
            -moz-background-clip: border;
            -webkit-background-clip: border;
            background-clip: border-box;
            -moz-background-clip: padding;
            -webkit-background-clip: padding;
            background-clip: padding-box;
            -moz-background-clip: content;
            -webkit-background-clip: content;
            background-clip: content-box;
        }

            .col-xs-6:nth-child(1) {
                background-color: transparent;
                border-radius: 50px;
            }

            .col-xs-6:nth-child(2) {
                background-color: transparent;
                border-radius: 50px;
            }
    </style>
</head>

<body>

    <div class="container" style="background-color:rgb(0, 0, 0, 0.9); border-radius:20px">
        <h1 class="h3 text-center" style="margin-top: 30px; margin-bottom: 30px;"><i><b>6 завтраков для чемпионов</b></i></h1>
      </div> 
        <div class="container" style="background-color:rgb(0, 0, 0, 0.5); margin-top:40px ; border-radius:20px">

            <div class="lead text-center" style="margin-bottom: 16px;">
                <h3>
                    День должен начинаться с правильного завтрака, так как считается,
                    что именно в этот приём пищи мы получаем основной заряд энергии,
                    который затем поддерживаем на протяжении остального времени. Если
                    день насыщенный, значит, и завтрак должен быть соответствующим!
                    Мы предлагаем вам шесть вариантов завтраков от эксперта
                    по питанию и бывшего главного диетолога лыжной команды
                    Адама Корзуна (Adam Korzun).
                </h3>

            </div>
        </div>

        <div class="container" style="background-color:rgb(0, 0, 0, 0.8); margin-top:30px ; border-radius:20px">
            <div class="lead text-center" style="margin-bottom: 16px;">
                <h2>Зелёный смузи</h2>

                <h4>
                    <p>
                        Смузи от сёрфера Джон Джона Флоренса (John John Florence): протеиновая пудра,
                        семена конопли, семена чиа, микс из замороженных ягод, сельдерей, капуста,
                        половинка банана и порошок маки.
                    </p>
                    <p>
                        Такой завтрак помог 22-летнему гавайцу стать номером три в мировом рейтинге и
                        выиграть в Quiksilver Pro во Франции.
                    </p>

                    <p>
                        Почему это работает? Такие смузи дают всю необходимую энергию и питательные вещества и
                        одновременно являются пищей, которая легко усваивается организмом и не даёт ощущения тяжести.
                        Дополнительные бонусы: они содержат в себе достаточно много жидкости, семена конопли являются
                        отличным дополнительным источником белка, а порошок маки повышает иммунитет и даёт дополнительную энергию.
                    </p>
                    <p>
                        Рецепт приготовления. Смешайте в блендере 0,5 литра кокосовой воды, растительного или обычного молока,
                        3 столовые ложки протеинового порошка, 1 столовую ложку семян конопли, 1 столовую ложку семян чиа,
                        0,5 стакана ягодного микса, 2 стебля сельдерея, 2 капустных или салатных листа, половину банана и
                        1 столовую ложку порошка маки до полной однородности.
                    </p>


                </h4>
            </div>
        </div>

        <div class="container" style="background-color:rgb(0, 0, 0, 0.5); margin-top:30px ; border-radius:20px">
            <div class="lead text-center" style="margin-bottom: 16px;">
                <h2>Бейгель с копчёным лососем </h2>
                <h4>
                    <p>
                        Бейгель с копчёным лососем — любимый завтрак Саши ДиДжулиан (Sasha Digiulian),
                        которая занимает одну из лидирующих позиций среди альпинисток. Она не только
                        занимается спортом, но ещё и учится в Колумбийском университете. Перед тем как идти на
                        тренировку, она предпочитает перекусить бейгелем с копчёным лососем, сливочным сыром и каперсами.
                        Такая закуска даст необходимый заряд перед трёхчасовыми тренировками.
                    </p>
                    <p>
                        Почему это работает? Бейгель (или, если по-простому, бублик) богат углеводами и хорошо
                        усваивается организмом. Для альпинистки, которая должна оставаться стройной, это отличный
                        выбор — получить необходимую дозу углеводов на завтрак и потратить их во время тренировки,
                        отказавшись от такой еды во второй половине дня. Она успевает сжечь углеводы до того, как
                        они осядут в организме в виде жира. Лосось дополнит картину полезными омега-3-ненасыщенными
                        жирными кислотами, а каперсы обладают противовоспалительными качествами и дадут организму соль,
                        необходимую для процесса гидратации.
                    </p>
                </h4>
            </div>
        </div>

        <div class="container" style="background-color:rgb(0, 0, 0, 0.8); margin-top:30px ; border-radius:20px">
            <div class="lead text-center" style="margin-bottom: 16px;">
                <h2>Яичница для вегетарианцев</h2>

                <h4>
                    <p>
                        Такая яичница является любимым завтраком Стива Хауза (Steve House),
                        одного из самых известных альпинистов США. Он экспериментировал со своим
                        питанием, пытаясь найти оптимальный вариант, который бы насыщал на длительный
                        период и давал необходимую энергию для его тренировок. В результате появилась яичница
                        из двух-трёх яиц со шпинатом, картофелем, свёклой и листьями салата плюс две чашки эспрессо.
                    </p>
                    <p>
                        Почему это работает? Благодаря картофелю и зелени Хауз получает необходимую порцию углеводов,
                        которые становятся частью химической реакции, перерабатывающей жир. Также этот завтрак содержит
                        очень важный для альпинистов овощ — свёклу. В ней содержатся нитраты, которые преобразуются в
                        организме в оксид азота. Он заставляет расширяться кровеносные сосуды, в результате чего кислород
                        быстрее добирается до работающих мышц.
                    </p>
                    <p>
                        Рецепт приготовления. Вариантов много. Вы можете использовать все овощи, которые есть у вас
                        в холодильнике. Во время приготовления такой яичницы главное — помнить, что у каждого ингредиента
                        может быть разное время приготовления, поэтому класть их на сковороду нужно в правильном порядке.
                        Любимые овощные добавки Стива в порядке уменьшения времени приготовления: свёкла, картофель, морковь,
                        капуста, кабачки, грибы, шпинат.
                    </p>
                </h4>
            </div>
        </div>

        <div class="container" style="background-color:rgb(0, 0, 0, 0.5); margin-top:30px ; border-radius:20px">
            <div class="lead text-center" style="margin-bottom: 16px;">
                <h2>Овсянка</h2>

                <h4>
                    <p>
                        Овсянка — любимый завтрак ультрамарафонца Роба Крара (Rob Krar).
                        Роб не только принимает участие в гонках, но ещё и работает в ночную смену фармацевтом,
                        а это означает, что он ложится спать в 8 утра и завтракает в 16:30. Его завтрак — тарелка
                        овсянки с изюмом, грецкими орехами, корицей, коричневым сахаром и щепоткой соли. Он переваривается в
                        течение часа и позволяет продержаться на полном ходу три часа — преимущество такого завтрака тут очевидно!
                    </p>
                    <p>
                        Почему это работает? Овсянка быстрого приготовления лишена верхнего грубого слоя,
                        что позволяет ей быстро проходить стадию переваривания и давать необходимую Робу энергию,
                        а орехи обеспечивают его растительными жирами, которые являются запасным топливом,
                        включающимся в работу после того, как углеводы от овсянки исчерпываются.
                    </p>
                </h4>
            </div>
        </div>



        <div class="container" style="background-color:rgb(0, 0, 0, 0.8); margin-top:30px ; border-radius:20px">
            <div class="lead text-center" style="margin-bottom: 16px;">
                <h2> Безглютеновый тост с ветчиной</h2>

                <h4>
                    <p>
                        Такой тост предпочитает есть на завтрак лыжный гонщик Марсель Хиршер (Marcel Hirscher),
                        трёхкратный чемпион общего зачёта Кубка мира по горнолыжному спорту из Австрии. Он старается
                        избегать любых кисломолочных продуктов из коровьего молока и яиц, так как его организм не справляется
                        с их перевариванием. Но для тренировок нужно очень много энергии, поэтому приходится брать
                        её из других источников. Хиршер ест много манго, бананов, ветчины и хлеба из спельты.
                        Этот хлеб отлично подходит лыжнику, так как содержит все необходимые питательные вещества.
                    </p>
                    <p>
                        Почему это работает? Лыжные гонки — это спринт, и спуск вниз можно приравнять
                        к 400-метровому спринту, поэтому завтрак должен быть очень плотным, а кофеин
                        в качестве бонуса повышает внимание, что помогает избежать травм. Хлеб из
                        спельты можно приготовить самостоятельно или же использовать хлеб из
                        цельнозерновой муки с различными полезными добавками.
                    </p>
                </h4>
            </div>
        </div>




        <div class="container" style="background-color:rgb(0, 0, 0, 0.5); margin-top:30px ; border-radius:20px">
            <div class="lead text-center" style="margin-bottom: 16px;">
                <h2>Комплексный вариант</h2>

                <h4>
                    <p>
                        Кто-то довольствуется более простыми блюдами,
                        но велосипедист Винченцо Нибали (Vincenzo Nibali)
                        предпочитает комплексный вариант. Его завтрак состоит из пасты с сыром,
                        двух жареных яиц, ломтика ветчины, тоста с джемом или мёдом, а также сухофруктов
                        с миндалём. Звучит достаточно внушительно, но ему нужно очень много энергии, так
                        как только за один этап гонок велосипедисты сжигают около 4 500 ккал!
                    </p>
                    <p>
                        Почему это работает? Потому что такой завтрак насыщен углеводами!
                        Спортсмен комбинирует простые углеводы (мёд и фрукты) для быстрого
                        получения энергии с медленными углеводами (паста), а также жирами
                        (ветчина и орехи). Как мы уже упоминали, Корзун считает жиры идеальным
                        топливом для длительных соревнований. Тренированные атлеты очень эффективно
                        сжигают жир и оставляют углеводы в качестве резерва для очень интенсивной нагрузки.
                        Поэтому для атлетов, принимающих участие в длительных и изматывающих гонках, очень
                        важно соблюдать баланс в употребление правильных жиров и углеводов.
                    </p>
                </h4>
            </div>
        </div>
</body>

</html>
