<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    <script language="JavaScript" type="text/javascript" src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/noty-3.2.0-beta/noty.js"></script>
    <link href="~/Scripts/noty-3.2.0-beta/noty.css" rel="stylesheet">
    <link href="~/Scripts/noty-3.2.0-beta/themes/relax.css" rel="stylesheet">
    <script language="JavaScript" type="text/javascript" src="~/SignalR/SignalR.js"></script>

    <style>
        #p_prldr {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgb(0, 0, 0, 0.8);
            z-index: 30;
        }

        .contpre small {
            font-size: 25px;
        }

        .contpre {
            width: 250px;
            height: 100px;
            position: absolute;
            left: 50%;
            top: 48%;
            margin-left: -125px;
            margin-top: -75px;
            color: #fff;
            font-size: 40px;
            letter-spacing: -2px;
            text-align: center;
            line-height: 35px;
        }

        #p_prldr .svg_anm {
            position: absolute;
            width: 41px;
            height: 41px;
            background: url(../img/YGgI.gif) center center no-repeat;
            background-size: 41px;
            margin: -16px 0 0 -16px;
        }
    </style>

    <script type="text/javascript">
        $(window).on('load', function () {
            var $preloader = $('#p_prldr'),
                $svg_anm = $preloader.find('.svg_anm');
            $svg_anm.fadeOut();
            $preloader.delay(500).fadeOut('slow');
        });</script>

    <style>
        .dropbtn {
            background-color: transparent;
            /*color: white;*/
            padding: 12px;
            font-size: 14px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: transparent;
        }

        li {
            list-style-type: none; /* Убираем маркеры */
        }

        ul {
            margin-left: 0; /* Отступ слева в браузере IE и Opera */
            padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        }
    </style>



</head>

<body>
    <div id="p_prldr"><div class="contpre"><span class="svg_anm"></span><br>Подождите<br><small>идет загрузка . . .</small></div></div>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="../img/navGrand.png" width="150" height="60"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    <li class="dropdown">
                        <a href="#" class="dropbtn" data-toggle="dropdown"><span class="glyphicon glyphicon-home"></span> Home<b class="caret"></b></a>
                        <ul class="dropdown-content">
                            <li><a href="~/Daybook/Index"> <img src="https://icongr.am/entypo/open-book.svg?size=25px&color=black"></img>   Diary</a></li>

                            <li><a href="~/Account/CustomProduct"> <img src="https://icongr.am/material/food-variant.svg?size=25px&color=black"></img>  Create Product</a></li>
                        </ul>
                    </li>

                    <li><a href="~/Daybook/Help"> <span class="glyphicon glyphicon-search"></span>   Help</a></li>
                    <li><a href="mailto:Marketing@example.com"> <span class="glyphicon glyphicon-envelope "></span>   Email</a></li>

                </ul>
                <ul class="nav  navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Account/ProfileUser"> <span class="glyphicon glyphicon-user " style="color:black"></span>   Profile</a></li>
                            <li><a href="~/Account/EditUser"> <span class="glyphicon glyphicon-cog" style="color:dimgray"></span>   Edit</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Account/Logoff"> <span class="glyphicon glyphicon-remove" style="color:red"></span>   Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>
