@{
    ViewBag.Title = "Home Page";
}

<style>
#square {
    width: 120px;
    height: 120px;
    background: #f447ff;
}
</style>

<div class="row">
    <div class="col-sm-9" style="border-color:darkgreen">
    
    Скоро здесь будет картинка)))
    
    </div>

    <div class="col-sm-3" >

        <span class="border border-primary"></span>
       <!--
          <div id="square"></div> 
       --> 
        <div class="container-fluid" style="background-color:cornflowerblue" >
            <form>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>

                <div class="row">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-default">Войти</button>
                    </div>
                </div>



                   <!--
                        <button type="submit" class="btn btn-default">Войти</button>
                   -->

</form>
        </div>
        </div>
    
</div>


<!--
     <div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    </div>

-->
   
   


