@{
    Layout = null;
}

<style>
</style>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Домашняя страница</title>
    <style>
        .col-xs-6 {
            text-align: center;
            font-size: 40px;
            font-weight: 300;
            color: #fff;
            -moz-background-clip: border;
            -webkit-background-clip: border;
            background-clip: border-box;
            -moz-background-clip: padding;
            -webkit-background-clip: padding;
            background-clip: padding-box;
            -moz-background-clip: content;
            -webkit-background-clip: content;
            background-clip: content-box;
        }

            .col-xs-6:nth-child(1) {
                background-color: moccasin;
                border-radius: 50px;
            }

            .col-xs-6:nth-child(2) {
                background-color: moccasin;
                border-radius: 50px;
            }


    </style>
</head>

<body>
    <div class="container">
        <h1 class="h3 text-center" style="margin-top: 30px; margin-bottom: 30px;">Адаптивного макета</h1>
        <div class="lead text-center" style="margin-bottom: 16px;">
            Текущая контрольная точка:
            <span class="visible-lg-inline">LG</span>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6" style="height: 300px;">
                <a href="~/Account/Login" class="button"> Войти </a>
            </div>
            <div class="col-xs-6" style="height: 300px;">
                <a href="~/Account/Register" class="button"> Регистрация </a>
            </div>
        </div>
    </div>
</body>

</html>
