@{
    Layout = null;
}

<style>
</style>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Домашняя страница</title>
    <style>
        .col-xs-6 {
            text-align: center;
            font-size: 40px;
            font-weight: 300;
            color: #fff;
            -moz-background-clip: border;
            -webkit-background-clip: border;
            background-clip: border-box;
            -moz-background-clip: padding;
            -webkit-background-clip: padding;
            background-clip: padding-box;
            -moz-background-clip: content;
            -webkit-background-clip: content;
            background-clip: content-box;
        }

            .col-xs-6:nth-child(1) {
                background-color: transparent;
                border-radius: 50px;
            }

            .col-xs-6:nth-child(2) {
                background-color: transparent;
                border-radius: 50px;
            }



    </style>
</head>

<body>  
    <div class="container" style="background-color:rgb(0, 0, 0, 0.5); border-radius:20px">
        <h1 class="h3 text-center" style="margin-top: 30px; margin-bottom: 30px;">Вас приветсвует IFood</h1>
        <div class="lead text-center" style="margin-bottom: 16px;">
            <h3>
                «Ты есть то, что ты ешь» — о смысле этой крылатой фразы Гиппократа, как и о прямом влиянии
                качества питания на здоровье не задумывался разве что совсем равнодушный к своему образу жизни человек.
                Даже яростные поклонники фастфудов в глубине души осознают, что рацион неплохо бы поменять…
            </h3>
            <h1>Почему важно соблюдать правила здорового питания </h1>
            <p>Человеческий организм получает почти все необходимые вещества именно через пищу и воду.
            Состав продуктов питания и их свойства непосредственно влияют на здоровье, физическое развитие,
            трудоспособность, эмоциональное состояние и в целом на качество и продолжительность жизни.
            Трудно найти другой фактор, который бы оказывал такое серьезное воздействие на организм человека.
            </p>
            <p>
                Но вот какой именно способ питания считать правильным?
                На этот счет существует множество теорий, и чуть ли не каждый день появляются новые. 
                Кто-то выступает за полный отказ от мяса, кто-то провозглашает сыроедение панацеей от всех болезней
                и бед, а кто-то разрабатывает сочетания продуктов, якобы позволяющие организму достичь 
                полной пищевой гармонии. На самом деле, любые ограничения в питании вряд ли можно считать
                полезными и приемлемыми для всех. Человеческий организм — очень сложная система,
                для нормального функционирования ему требуется и мясная, и растительная пища.
                Недостаток полезных веществ, содержащихся в том же мясе, например железа высокой 
                биологической доступности, может вызвать серьезные проблемы со здоровьем. 
                Правильное питание заключается не в контроле калорий и жестких диетах, 
                а в обеспечении организма полноценным рационом, в который входят все необходимые 
                для него продукты: мясо, злаки, овощи, фрукты. Подбор рациона — одна из главных
                задач в правильном питании, но не менее важным является и ежедневное следование ему.
                Если придерживаться основных правил здорового питания не от случая к случаю, а постоянно,
                то не придется заботиться о лишнем весе, снижении иммунитета, проблемах с волосами, кожей и 
                здоровьем в целом
                </p>


                <h1>  С чего же начать?</h1>
                Прежде всего, с твердого решения питаться правильно. А для того чтобы следить за своим рационом
                составьте в личном дневнике для себя рацион и придерживайтесь его. Мы хотим помочь Вам добиться желаемых результатов.

</div>
    </div>

    <div class="container" style="background-color:rgb(0, 0, 0, 0.8); margin-top:30px ; border-radius:20px">
        <div class="lead text-center" style="margin-bottom: 16px;">
            <h2>Для того, воспользоваться нашим дневником нужно всего лишь зарегистрироваться или, если Вы уже зарегистрированны, войти в свой личный дневник </h2>

        </div>
        <div class="row">

            <h1 class="h3 text-center" style="margin-top: 30px; margin-bottom: 30px;"> <a href="~/Account/Register" class="button"> Регистрация </a></h1>
            <h1 class="h3 text-center" style="margin-top: 30px; margin-bottom: 30px;"> <a href="~/Account/Login" class="button"> Войти </a></h1>
            <!--
      <div class="col-xs-6" style="height: 300px;">
        <a href="~/Account/Login" class="button"> Войти </a>
    </div>
    <div class="col-xs-6" style="height: 300px;">
        <a href="~/Account/Register" class="button"> Регистрация </a>
    </div>

      -->
        </div>
        </div>
</body>

</html>
